<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gongan.mapper.SysOrgMapper">

    <resultMap id="BaseResultMap" type="com.gongan.entity.SysOrg">
        <id column="id" property="id"/>
        <result column="org_code" property="orgCode"/>
        <result column="org_name" property="orgName"/>
        <result column="org_type" property="orgType"/>
        <result column="parent_id" property="parentId"/>
        <result column="level" property="level"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="address" property="address"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="status" property="status"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>
